:root{
    --cor-fundo: #01080E ;
    --cor-principal: #0B0D20 ;
    --cor-secundaria: #212333; 
    --cor-destaque: #2BDEFD;
    --cor-texto: #D7F9FF;

}

body {
    background-image: url(./Imagens/wallpaper.jpg);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-y: hidden;
    font-size: 25px;
    font-family: "Sevillana", cursive;
    text-shadow: 0 0 3px #000000, 0 0 5px #000000;
}

.caixa-principal{
    background-image: url(./Imagens/cloud.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

h1{
    color: var(--cor-destaque);
    text-shadow: 0 0 3px #000000, 0 0 5px #D7F9FF;
}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s;
}

button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}