:root {
    --main-white: #F6F6F6;
    --icon-blue: #007AFF;
    --fade-gray: #8E8E93;
    --main-black: #000000;
}

body {
    background-color: var(--main-black);
    overflow-y: hidden;
}

h1, h2, h3, h4, h5 {
    color: var(--main-white);
}

#rectangle {
    height: 100px;
    width: 750px;
    background-color: var(--main-white);
    position: absolute; top: 0%; left: 50%;
    margin-left: -375px;
}

#background__box {
    height: 83%;
    width: 750px;
    background-image: url("./Imagens/wallpaper.jpg");
    position: absolute; top: 10%; left: 50%;
    margin-left: -375px;
}

#rectangle__down {
    height: 75px;
    width: 750px;
    background-color: var(--main-white);
    position: absolute; top: 93%; left: 50%;
    margin-left: -375px;
}

#icon__pessoa {
    border-radius: 50%;
}